{% if lot.isAviable == true and lot.isBookmarked == false %}
  <div class="lot__bet--place">
    <div class="lot__bet--place-input-outer">
      <label class="lot__bet--place-input-label" for="bet">Ваша ставка (шаг
        {{ lot.bet.step }}
        {{ lot.bet.priceTag }})</label>
      <input name="bet" id="bet" type="number" min="{{ lot.bet.start|number_format(0,'','') }}" data-minimum="{{ lot.bet.start|number_format(0,'','') }}" value="{{ lot.bet.current|number_format(0,'','') + lot.bet.step }}" step="{{ lot.bet.step }}" data-step="{{ lot.bet.step }}" class="lot__bet--place-input">
      <p class="lot__bet--place--error">Ваша ставка должна быть выше, чем самая высокая ставка</p>
    </div>
    <div class="lot__bet-buttons-wrapper">
      <a class="btn-lot-place" href="#">Сделать ставку</a>
      <button class="btn-lot-fav" data-modal="#bookmark-sucess">
        <svg height="19px" version="1.1" viewbox="0 0 19 19" width="19px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <linearGradient id="linearGradient-1" x1="100%" x2="2.81409439%" y1="2.36832254%" y2="94.9508767%">
              <stop offset="0%" stop-color="#9C5EFF"></stop>
              <stop offset="100%" stop-color="#4489FF"></stop>
            </linearGradient>
          </defs>
          <g fill-rule="evenodd" fill="none" id="Buttons" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" stroke="none">
            <g stroke-width="1.70000005" stroke="url(#linearGradient-1)" transform="translate(-30.000000, -16.000000)">
              <g transform="translate(31.000000, 14.000000)">
                <polygon points="8.64924246 3.55671863 11.1629575 8.78325915 16.7842427 9.62651888 12.7167426 13.6925336 13.6766726 19.4367187 8.64924246 16.7232592 3.62181232 19.4367187 4.58174234 13.6925336 0.514242228 9.62651888 6.13552739 8.78325915"></polygon>
              </g>
            </g>
          </g>
        </svg>
        В избранное
      </button>
    </div>
  </div>
{% elseif lot.isAviable == false and lot.isBookmarked == false %}
  <div class="lot__solded">
    Товар продан
  </div>
{% endif %}
