{% import "../form/form-popup-macro.twig" as inputs %}
{% block popupRegistration %}
<div class="popup__fullscreen" id="registration">
  <div class="popup__fullscreen-wrapper">
    <button class="popup__close btn--close-popup" data-modal="registration">
      <img src="/assets/img/icons/icon-close-blue.svg" alt="">
    </button>
    <div class="row">
      <div class="header__wrapper-popup">
        <h2 class="header__h2 header__popup">Регистрация</h2>
      </div>
      <form action="#" method="POST" class="form__popup validate" novalidate>
        {{ inputs.inputRegistration('name', 'text', 'Имя', 'Иван', 'Заполните поле' ) }}
        {{ inputs.inputRegistration('second-name', 'text', 'Фамилия', 'Петров', 'Заполните поле' ) }}
        {{ inputs.inputRegistration('email', 'email', 'Email', 'Ваша@почта', 'Неверный формат Email' ) }}
        {{ inputs.inputRegistration('password', 'password', 'Пароль', 'Не менее 8 символов', 'Не менее 8 символов' ) }}
        {{ inputs.inputRegistration('phone', 'tel', 'Телефон', '+7 ( ) - - -', 'Заполните поле' ) }}
        {{ inputs.checkboxRegistration('checkbox', 'Я ознакомился и подтверждаю согласие с Офертой и
        Условиями пользовательского соглашения.', 'Примите условия' ) }}
        {{ inputs.submitRegistration('Зарегистрироваться') }}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block popupLogin %}
<div class="popup__fullscreen" id="login">
  <div class="popup__fullscreen-wrapper">
    <button class="popup__close btn--close-popup" data-modal="login">
      <img src="/assets/img/icons/icon-close-blue.svg" alt="">
    </button>
    <div class="row">
      <div class="header__wrapper-popup">
        <h2 class="header__h2 header__popup">Вход</h2>
      </div>
      <form action="#" method="GET" class="form__popup validate" novalidate>
        {{ inputs.inputRegistration('email-login', 'email', 'Email', 'Ваша@почта', 'Email не найден' ) }}
        {{ inputs.inputRegistration('password-login', 'password', 'Пароль', 'Пароль', 'Неверный пароль' ) }}
        {{ inputs.loginButtons() }}
        {{ inputs.submitRegistration('Войти') }}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block popupSellItem %}
 <div class="popup__fullscreen" id="sell-item"> 
  <div class="popup__fullscreen-outer">
    <div class="popup__fullscreen-wrapper">
      <button class="popup__close btn--close-popup" data-modal="login">
        <img src="/assets/img/icons/icon-close-blue.svg" alt="">
      </button>
      <div class="row">
        <div class="header__wrapper-popup">
          <h2 class="header__h2 header__popup">Sell your item for a charity</h2>
        </div>
        <form action="#" method="POST" class="form__popup-sell">
          {{ inputs.textarea('Title','Title', 'e. g. Gucci Black Leather Jacket', 'How to write a good title') }}
          {% set optsCategory = [
          { 
            key: 'Jewelry',
            value: 'Jewelry',
            selected: true,
          },
          { 
            key: 'Clothes',
            value: 'Clothes',
            selected: false,
          },
          ],
        %}
          {{ inputs.selectSimple('Category','Category', optsCategory) }}
          {{ inputs.textarea('Description','Description', 'Up to 500 words, describing your item', 'How to write a good description') }}
          {{ inputs.photos('images', 'How to make a killer images of your items') }}
          {% set priceType = [
          {
            key: 'fixed',
            value: 'Fixed',
            selected: true,
          },
          {
            key: 'auction',
            value: 'Auction',
            selected: false,
          },
        ] %}
          {{ inputs.selectMiniTrio('Price, ₽', 'type', priceType, 'Starting price', 0, 'Buyout price', 0) }}
          {% set donateTo = [
          {
            key: 'first',
            value :'first',
          }
        ] %}
          {{ inputs.selectSimpleDual('Donation','donate', donateTo, 50 ) }}
        </form>
      </div>
    </div>
    <div class="popup__fullscreen-footer-wrapper">
      <div class="popup__fullscreen-footer">
        <p class="popup__fullscreen-footer-descr">Step 1. Describe your item</p>
        <a class="btn-sell-item-continue" href="javascript:void(0);">Continue</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}