{% import "../form/form-popup-macro.twig" as inputs %}

<div class="popup__fullscreen" id="registration">
  <div class="popup__fullscreen-wrapper">
    <button class="popup__close btn--close-popup" data-modal="registration">
      <img src="/assets/img/icons/icon-close-blue.svg" alt="">
    </button>
    <div class="row">
      <div class="header__wrapper-popup">
        <h2 class="header__h2 header__popup">Регистрация</h2>
      </div>
      <form action="#" class="form__popup validate" novalidate>
        {{ inputs.inputRegistration('name', 'text', 'Имя', 'Иван', 'Заполните поле' ) }}
        {{ inputs.inputRegistration('second-name', 'text', 'Фамилия', 'Петров', 'Заполните поле' ) }}
        {{ inputs.inputRegistration('email', 'email', 'Email', 'Ваша@почта', 'Неверный формат Email' ) }}
        {{ inputs.inputRegistration('password', 'password', 'Пароль', 'Не менее 8 символов', 'Не менее 8 символов' ) }}
        {{ inputs.inputRegistration('phone', 'tel', 'Телефон', '+7 ( ) - - -', 'Заполните поле' ) }}
        {{ inputs.checkboxRegistration('checkbox', 'Я ознакомился и подтверждаю согласие с Офертой и
        Условиями пользовательского соглашения.', 'Примите условия' ) }}
        {{ inputs.submitRegistration('Зарегистрироваться') }}
      </form>
    </div>
  </div>
</div>