<div class="foundation-choose__tabs">
  <a class="menu-bar__item tab__switcher is-active" href="#foundation-programs">Благотворительные программы</a>
  <a class="menu-bar__item tab__switcher" href="#people">Люди</a>
</div>
<div class="foundation-choose__tabs-wrapper">
  <div class="foundation-choose__tabs-item tab__content is-active" id="foundation-programs">
    {% if foundationPrograms %}
      {% for item in foundationPrograms %}
        <label class="popup-foundation-choose__label" for="foundation-{{ item.id }}">
          <input checked class="popup-foundation-choose__checkbox" id="foundation-{{ item.id }}" name="foundation-{{ item.name }}" type="radio">
          <div class="card-foundation--program">
            <img alt="" class="card-foundation--program__img" src="{{ item.img }}">
            <p class="card-foundation--program-name">{{ item.descr }}</p>
          </div>
        </label>
      {% endfor %}
    {% endif %}

  </div>
  <div class="foundation-choose__tabs-item tab__content" id="people">
    Nothing to show
  </div>
</div>
