{% if celebrities %}
<section class="celebrities">
  <div class="container">
    {% block cardHeader %}
      <div class="row">
        <div class="header__wrapper-celeb">
          <h3 class="header__h3 text-left">Звезды Один<sup>+1</sup></h3>
        </div>
      </div>
    {% endblock %}
    <div class="celebrities-card__wrapper">
      {% for celebrity in celebrities %}
      <div class="celebrities-card">
        <a class="celebrities-profile-link" href="{{ celebrity.celebrityLink }}">
          <img class="celebrities-card-img img-responsive" src="{{ celebrity.celebrityAvatar }}" alt="">
        </a>
        <div class="celebrities-card-body">
          <div class="celebrities-card__top">
            <a class="celebrities-profile-link celebrities-name" href="{{ celebrity.celebrityLink }}">{{ celebrity.celebrityName }}</a>
            <p class="celebrities-role">{{ celebrity.celebrityRole }}</p>
          </div>
          <div class="celebrities-card__bottom">
            <a href="{{ celebrity.celebrityLotsLink }}"
              class="btn-mid btn-lots lots-amount">{{ celebrity.celebrityLotsAmount }} доступно</a>
            <p class="lots-total">{{ celebrity.celebrityLotsTotal }} продано</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
    {% block button %}
      <a href="#" class="btn btn-celebrities-more">
        Больше звезд 
        <img src="/assets/img/icons/icon-chevron-right-white.svg" alt="" class="img-responsive">
      </a>
    {% endblock %}
    </div>
  </div>
</section>
{% endif %}