{% if foundations %}
  {% for item in foundations %}
    <a href="{{ item.link }}" class="card-foundation">
      <div class="card-foundation-head">
        <div class="card-foundation-img__wrapper">
          <img alt="" class="card-foundation-img" src="{{ item.img }}">
          <p class="card-foundation-name">{{ item.name }}</p>
        </div>
      </div>
      <div class="card-foundation-body">
        <p class="card-foundation-descr">{{ item.descr}}</p>
        <p class="card-foundation-place">{{ item.place }}</p>
      </div>
    </a>
  {% endfor %}
{% endif %}
