{% if article %}
  <section class="article">
   <div class="article__banner --hide-desktop">
      <img alt="" class="article__banner-img" src="{{ article.banner }}">
    </div>
    <div class="article__container">
      <div class="article__wrapper">
        <aside class="article__social">
          <span class="--hide-desktop">Поделиться:</span>
            <div class="article__social-link-wrapper">
              <a class="article__social-link" href="{{ article.link }}">
                <img class="article__social-img" src="/assets/img/logo/facebook.svg" alt="">
              </a>
              <a class="article__social-link" href="{{ article.link }}">
                <img class="article__social-img" src="/assets/img/logo/twitter.svg" alt="">
              </a>
              <a class="article__social-link" href="{{ article.link }}">
                <img class="article__social-img" src="/assets/img/logo/vk.svg" alt="">
              </a>
              <a class="article__social-link" href="{{ article.link }}">
                <img class="article__social-img" src="/assets/img/logo/odnoklassniki.svg" alt="">
              </a>
            </div>
        </aside>
        <article class="article__content-wrapper">
          <div class="article__banner --hide-mobile">
              <img alt="" class="article__banner-img" src="{{ article.banner }}">
          </div>
          <div class="article__header-wrapper">
            <h1 class="article__header">{{ article.header }}</h1>
          </div>
          <div class="article__subheader-wrapper">
            <h3 class="article__subheader">{{ article.subheader }}</h3>
          </div>
          <div class="article__content-inner">
            {% for item in article.content %}
              <p class="article__content">
                {{ item }}
              </p>
            {% endfor %}
          </div>
          {% if article.photos %}
            <div class="article__photo-wrapper">
              {% for photo in article.photos %}
                <img class="article__photo" src="{{ photo }}" alt="">
              {% endfor %}
            </div>
          {% endif %}
        </article>
      </div>
    </div>
  </section>
{% endif %}