{% if mobileMenu %}
  <div class="mobile-menu-wrapper">
    <div class="mobile-menu popup--terget" id="mobile-menu">
      <div class="mobile-menu__header">
        <button class="mobile-menu__toggle">
          <svg class="img-responsive mobile-menu__toggle-img" version="1.1" viewbox="0 0 18 18" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <g fill-rule="evenodd" stroke-width="1" stroke="none">
              <g>
                <polygon id="Shape" points="16 3.4 14.6 2 9 7.6 3.4 2 2 3.4 7.6 9 2 14.6 3.4 16 9 10.4 14.6 16 16 14.6 10.4 9"></polygon>
              </g>
            </g>
          </svg>
        </button>
        <div class="logo__wrapper-menu">
          <svg class="logo__img-menu" viewbox="0 0 106 28" xmlns="http://www.w3.org/2000/svg">
            <g fill-rule="evenodd">
              <path d="M98.585 14.05c-.636-.002-1.107-.403-1.104-1.11l.035-7.12-.874-.004c-.709-.003-1.004-.5-1.001-.983a.97.97 0 0 1 1.011-.974l2.1.01c.637.002.991.443.988 1.01l-.04 8.07c-.004.707-.48 1.102-1.115 1.1m-4.743-2.841l-2.146-.008-.009 2.057c-.003.511-.345.849-.893.847-.548-.001-.886-.344-.883-.855l.009-2.056-2.144-.008c-.548-.003-.888-.343-.885-.855.003-.51.346-.848.892-.847l2.146.01.01-2.057c.002-.511.344-.85.893-.85.546.004.885.346.882.856l-.009 2.056 2.145.01c.548.002.885.343.884.854-.003.51-.345.849-.892.846M95.886.434l-4.78.142c-4.949.147-8.844 4.26-8.695 9.189.146 4.927 4.277 8.803 9.228 8.657l4.779-.142c4.95-.146 8.843-4.259 8.696-9.187-.147-4.929-4.278-8.804-9.228-8.66M14.42 17.054c0-3.213-1.709-6.107-5.096-6.107-3.388 0-5.096 2.894-5.096 6.107 0 3.238 1.654 6.106 5.096 6.106s5.095-2.868 5.095-6.106M0 17.054c0-5.523 3.795-9.77 9.324-9.77 5.448 0 9.323 4.38 9.323 9.77 0 5.495-3.767 9.77-9.323 9.77C3.82 26.823 0 22.548 0 17.053M54.506 26.664c-1.166 0-2.033-.744-2.033-2.07V14.69h-.053l-8.782 11.097c-.462.585-1.193.876-1.708.876-1.166 0-2.032-.744-2.032-2.07V9.513c0-1.327.866-2.072 2.032-2.072s2.032.745 2.032 2.072v10.035h.055l8.781-11.23c.462-.585 1.193-.877 1.708-.877 1.166 0 2.032.745 2.032 2.072v15.08c0 1.326-.866 2.07-2.032 2.07M59.79 9.514c0-1.327.868-2.072 2.034-2.072 1.165 0 2.032.745 2.032 2.072v5.628h8.51V9.514c0-1.327.868-2.072 2.033-2.072 1.166 0 2.033.745 2.033 2.072v15.08c0 1.326-.867 2.07-2.033 2.07-1.165 0-2.032-.744-2.032-2.07v-5.789h-8.51v5.788c0 1.327-.868 2.07-2.033 2.07-1.166 0-2.034-.743-2.034-2.07V9.513zM30.541 22.815h-6.402l4.435-11.04a.667.667 0 0 1 .62-.419h2.558v11.459h-1.211zm4.846.062V9.547c0-.998-.813-1.809-1.817-1.809h-4.375a4.282 4.282 0 0 0-3.995 2.694l-4.99 12.422c-.667.095-1.243.534-1.467 1.182l-.52 1.508a1.808 1.808 0 0 0 1.718 2.397c.754 0 1.46-.47 1.719-1.221l.098-.287h11.534a1.815 1.815 0 0 0 1.792 1.508c1.004 0 1.817-.81 1.817-1.81v-1.507c0-.892-.66-1.6-1.514-1.747z" />
            </g>
          </svg>
        </div>
      </div>
      <div class="mobile-menu__body">
        {% if userStatus == "--unauthorised" %}
        {% elseif userStatus == "--authorised" and accountInfo %}
          {% for user in accountInfo %}
            <a class="mobile-menu__profile-wrapper" href="{{ user.link}}">
              <img class="mobile-menu__profile-img img-responsive" src="{{ user.avatar }}" alt="">
              <div class="mobile-menu__profile-info">
                <p class="mobile-menu__profile-name">{{ user.name }}</p>
                <svg height="12px" version="1.1" viewbox="0 0 5 8" width="8px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                  <g fill-rule="evenodd" stroke-width="1" stroke="none">
                    <g fill-rule="nonzero" fill="#d9deea" transform="translate(-622.000000, -3111.000000)">
                      <g transform="translate(0.000000, 2825.000000)">
                        <g transform="translate(623.000000, 285.784946)">
                          <polygon points="1.47856425 3.9186453 3.77918473 1.66750054 5.17794377 3.09700154 1.47856425 6.71682452 -2.17794377 3.13895107 -0.779184726 1.70945007" transform="translate(1.500000, 4.192163) rotate(-90.000000) translate(-1.500000, -4.192163) "></polygon>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </a>
          {% endfor %}
        {% endif %}
        <a class="mobile-menu__item popup--toggle" href="#catalogue-mobile">Каталог</a>
        {% for item in mobileMenu %}
          <a href="{{ item.link }}" class="mobile-menu__item">{{ item.description }}</a>
        {% endfor %}
      </div>
      {% if userStatus == "--unauthorised" %}
        <div class="mobile-menu__enter-wrapper">
          <a class="mobile-menu__enter popup--toggle" data-modal="login" href="#login">Войти</a>
        </div>
      {% elseif userStatus == "--authorised" %}
        <div class="mobile-menu__enter-wrapper">
          <a class="mobile-menu__enter" href="#">Выйти</a>
        </div>
      {% endif %}
      <div class="mobile-menu__footer">
        <p class="mobile-menu__footer-descr">2017 © Oneplusone. All rights reserved.<br>
          63 W 38th St, New York, NY 10018
        </p>
        <div class="mobile-menu__footer-lower">
          <a class="mobile-menu__footer-lower-link" href="#">En</a>
          <a class="mobile-menu__footer-lower-link" href="#">Ru</a>
          <a class="mobile-menu__footer-lower-link" href="#">Политика конфеденциальности</a>
        </div>
      </div>
    </div>

    <div class="mobile-menu--catalogue popup--target" id="catalogue-mobile">
      <div class="mobile-menu__header">
        <a class="hamburger hamburger--arrow is-active popup--toggle" href="#mobile-menu">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </a>
        <div class="logo__wrapper-menu">
          <svg class="logo__img-menu" viewbox="0 0 106 28" xmlns="http://www.w3.org/2000/svg">
            <g fill-rule="evenodd">
              <path d="M98.585 14.05c-.636-.002-1.107-.403-1.104-1.11l.035-7.12-.874-.004c-.709-.003-1.004-.5-1.001-.983a.97.97 0 0 1 1.011-.974l2.1.01c.637.002.991.443.988 1.01l-.04 8.07c-.004.707-.48 1.102-1.115 1.1m-4.743-2.841l-2.146-.008-.009 2.057c-.003.511-.345.849-.893.847-.548-.001-.886-.344-.883-.855l.009-2.056-2.144-.008c-.548-.003-.888-.343-.885-.855.003-.51.346-.848.892-.847l2.146.01.01-2.057c.002-.511.344-.85.893-.85.546.004.885.346.882.856l-.009 2.056 2.145.01c.548.002.885.343.884.854-.003.51-.345.849-.892.846M95.886.434l-4.78.142c-4.949.147-8.844 4.26-8.695 9.189.146 4.927 4.277 8.803 9.228 8.657l4.779-.142c4.95-.146 8.843-4.259 8.696-9.187-.147-4.929-4.278-8.804-9.228-8.66M14.42 17.054c0-3.213-1.709-6.107-5.096-6.107-3.388 0-5.096 2.894-5.096 6.107 0 3.238 1.654 6.106 5.096 6.106s5.095-2.868 5.095-6.106M0 17.054c0-5.523 3.795-9.77 9.324-9.77 5.448 0 9.323 4.38 9.323 9.77 0 5.495-3.767 9.77-9.323 9.77C3.82 26.823 0 22.548 0 17.053M54.506 26.664c-1.166 0-2.033-.744-2.033-2.07V14.69h-.053l-8.782 11.097c-.462.585-1.193.876-1.708.876-1.166 0-2.032-.744-2.032-2.07V9.513c0-1.327.866-2.072 2.032-2.072s2.032.745 2.032 2.072v10.035h.055l8.781-11.23c.462-.585 1.193-.877 1.708-.877 1.166 0 2.032.745 2.032 2.072v15.08c0 1.326-.866 2.07-2.032 2.07M59.79 9.514c0-1.327.868-2.072 2.034-2.072 1.165 0 2.032.745 2.032 2.072v5.628h8.51V9.514c0-1.327.868-2.072 2.033-2.072 1.166 0 2.033.745 2.033 2.072v15.08c0 1.326-.867 2.07-2.033 2.07-1.165 0-2.032-.744-2.032-2.07v-5.789h-8.51v5.788c0 1.327-.868 2.07-2.033 2.07-1.166 0-2.034-.743-2.034-2.07V9.513zM30.541 22.815h-6.402l4.435-11.04a.667.667 0 0 1 .62-.419h2.558v11.459h-1.211zm4.846.062V9.547c0-.998-.813-1.809-1.817-1.809h-4.375a4.282 4.282 0 0 0-3.995 2.694l-4.99 12.422c-.667.095-1.243.534-1.467 1.182l-.52 1.508a1.808 1.808 0 0 0 1.718 2.397c.754 0 1.46-.47 1.719-1.221l.098-.287h11.534a1.815 1.815 0 0 0 1.792 1.508c1.004 0 1.817-.81 1.817-1.81v-1.507c0-.892-.66-1.6-1.514-1.747z" />
            </g>
          </svg>
        </div>
      </div>
      <div class="mobile-menu__body">
        <div class="mobile-menu__profile-wrapper">
          <h2 class="mobile-menu--catalogue__header">Catalogue</h2>
        </div>
        {% for item in dropdownCatalogue %}
          <a class="mobile-menu__item popup--toggle" href="#{{ item.link }}-mobile">{{ item.category }}</a>
        {% endfor %}
      </div>
      <div class="mobile-menu__footer">
        <p class="mobile-menu__footer-descr">2017 © Oneplusone. All rights reserved.<br>
          63 W 38th St, New York, NY 10018
        </p>
        <div class="mobile-menu__footer-lower">
          <a class="mobile-menu__footer-lower-link" href="#">En</a>
          <a class="mobile-menu__footer-lower-link" href="#">Ru</a>
          <a class="mobile-menu__footer-lower-link" href="#">Политика конфеденциальности</a>
        </div>
      </div>
    </div>

    {% for item in dropdownCatalogue %}
      <div class="mobile-menu--catalogue popup--target" id="{{ item.link }}-mobile">
        <div class="mobile-menu__header">
          <a class="hamburger hamburger--arrow is-active popup--toggle" href="#catalogue-mobile">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </a>
          <div class="logo__wrapper-menu">
            <svg class="logo__img-menu" viewbox="0 0 106 28" xmlns="http://www.w3.org/2000/svg">
              <g fill-rule="evenodd">
                <path d="M98.585 14.05c-.636-.002-1.107-.403-1.104-1.11l.035-7.12-.874-.004c-.709-.003-1.004-.5-1.001-.983a.97.97 0 0 1 1.011-.974l2.1.01c.637.002.991.443.988 1.01l-.04 8.07c-.004.707-.48 1.102-1.115 1.1m-4.743-2.841l-2.146-.008-.009 2.057c-.003.511-.345.849-.893.847-.548-.001-.886-.344-.883-.855l.009-2.056-2.144-.008c-.548-.003-.888-.343-.885-.855.003-.51.346-.848.892-.847l2.146.01.01-2.057c.002-.511.344-.85.893-.85.546.004.885.346.882.856l-.009 2.056 2.145.01c.548.002.885.343.884.854-.003.51-.345.849-.892.846M95.886.434l-4.78.142c-4.949.147-8.844 4.26-8.695 9.189.146 4.927 4.277 8.803 9.228 8.657l4.779-.142c4.95-.146 8.843-4.259 8.696-9.187-.147-4.929-4.278-8.804-9.228-8.66M14.42 17.054c0-3.213-1.709-6.107-5.096-6.107-3.388 0-5.096 2.894-5.096 6.107 0 3.238 1.654 6.106 5.096 6.106s5.095-2.868 5.095-6.106M0 17.054c0-5.523 3.795-9.77 9.324-9.77 5.448 0 9.323 4.38 9.323 9.77 0 5.495-3.767 9.77-9.323 9.77C3.82 26.823 0 22.548 0 17.053M54.506 26.664c-1.166 0-2.033-.744-2.033-2.07V14.69h-.053l-8.782 11.097c-.462.585-1.193.876-1.708.876-1.166 0-2.032-.744-2.032-2.07V9.513c0-1.327.866-2.072 2.032-2.072s2.032.745 2.032 2.072v10.035h.055l8.781-11.23c.462-.585 1.193-.877 1.708-.877 1.166 0 2.032.745 2.032 2.072v15.08c0 1.326-.866 2.07-2.032 2.07M59.79 9.514c0-1.327.868-2.072 2.034-2.072 1.165 0 2.032.745 2.032 2.072v5.628h8.51V9.514c0-1.327.868-2.072 2.033-2.072 1.166 0 2.033.745 2.033 2.072v15.08c0 1.326-.867 2.07-2.033 2.07-1.165 0-2.032-.744-2.032-2.07v-5.789h-8.51v5.788c0 1.327-.868 2.07-2.033 2.07-1.166 0-2.034-.743-2.034-2.07V9.513zM30.541 22.815h-6.402l4.435-11.04a.667.667 0 0 1 .62-.419h2.558v11.459h-1.211zm4.846.062V9.547c0-.998-.813-1.809-1.817-1.809h-4.375a4.282 4.282 0 0 0-3.995 2.694l-4.99 12.422c-.667.095-1.243.534-1.467 1.182l-.52 1.508a1.808 1.808 0 0 0 1.718 2.397c.754 0 1.46-.47 1.719-1.221l.098-.287h11.534a1.815 1.815 0 0 0 1.792 1.508c1.004 0 1.817-.81 1.817-1.81v-1.507c0-.892-.66-1.6-1.514-1.747z" />
              </g>
            </svg>
          </div>
        </div>
        <div class="mobile-menu__body">
          <div class="mobile-menu__profile-wrapper">
            <h2 class="mobile-menu--catalogue__header">{{ item.category }}</h2>
          </div>
          {% for content in item.content %}
            <a class="dropdown-catalogue__tab-subitem" href="#{{ content.link }}-mobile">{{ content.category }}</a>
          {% endfor %}
        </div>
        <div class="mobile-menu__footer">
          <p class="mobile-menu__footer-descr">2017 © Oneplusone. All rights reserved.<br>
            63 W 38th St, New York, NY 10018
          </p>
          <div class="mobile-menu__footer-lower">
            <a class="mobile-menu__footer-lower-link" href="#">En</a>
            <a class="mobile-menu__footer-lower-link" href="#">Ru</a>
            <a class="mobile-menu__footer-lower-link" href="#">Политика конфеденциальности</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}