{% macro inputRegistration(name, type, label, placeholder, error) %}
<div class="inline-inputs">
  <label for="{{ name }}" class="form__popup-label">{{ label }}</label>
  <div class="form__popup-input-wrapper">
    <input type="{{ type }}" name="{{ name }}" class="form__popup-input" id="{{ name }}" onfocus="this.placeholder = ''"
      onblur="this.placeholder = '{{ placeholder }}'" placeholder="{{ placeholder }}" required>
    <div class="not-valid">{{ error }}</div>
  </div>
</div>
{% endmacro %}

{% macro checkboxRegistration(name, text, error) %}
<div class="inline-inputs">
  <label for="" class="form__popup-label"></label>
  <div class="form__popup-input-wrapper">
    <input class="form__popup-input-checkbox" type="checkbox" id="{{ name }}" name="{{ name }}" required checked>
    <label for="{{ name }}" class="form__popup-label-checkbox">{{ text }}</label>
    <div class="not-valid">{{ error }}</div>
  </div>
</div>
{% endmacro %}

{% macro submitRegistration(value) %}
<div class="inline-inputs">
  <label for="" class="form__popup-label"></label>
  <div class="form__popup-input-wrapper">
    <input class="form__popup-submit" type="submit" value="{{ value }}">
  </div>
</div>
{% endmacro %}

{% macro loginButtons() %}
<div class="inline-inputs">
  <label for="" class="form__popup-label"></label>
  <div class="form__popup-input-wrapper form__popup-login-anchors">
    <a class="form__popup-login-anchor" href="#login">Забыли пароль?</a>
    <a class="form__popup-login-anchor popup--toggle" data-modal="registration" href="#registration">Регистрация</a>
  </div>
</div>
{% endmacro %}

{% macro textarea(name, label, tip, tooltipTrigger, tooltipDescr) %}
<div class="inline-inputs">
  <label for="{{ name }}" class="form__popup-label-sell">{{ label }}</label>
  <div class="form__popup-textarea-wrapper">
    <textarea class="form__popup-textarea" rows="1" name="{{ name }}"></textarea>
    <div class="form__popup-tip__wrapper">
      <p class="form__popup-tip">
        {{ tip }}
      </p>
      <a class="form__popup-tip-trigger tooltip-trigger" href="#"> {{ tooltipTrigger}} </a>
      {% include "../tooltip/tooltip-form-popup.twig" %}
    </div>
  </div>
</div>
{% endmacro %}

{% macro selectSimple(name, label, options) %}
<div class="inline-inputs">
  <label for="{{ name }}" class="form__popup-label">{{ label }}</label>
  <div class="form__popup-selectSimple-wrapper">
    <select class="form__popup-selectSimple" name="{{ name }}">
      {% for key in options %}
      <option value="{{ key.key }}" {{ key.selected == true ? 'selected' : '' }}>{{ key.value }}</option>
      {% endfor %}
    </select>
    <img class="form__popup-chevronSelect" src="/assets/img/icons/icon-chevron-down.svg" alt="">
  </div>
</div>
{% endmacro %}

{% macro selectMiniTrio(label, firstSelectName, priceType, startingPriceName, startingPriceValue, buyoutPriceName, buyoutPriceValue) %}
<div class="inline-inputs">
  <label for="" class="form__popup-label">{{ label }}</label>
  <div class="form__popup-selectMini-container">
    <div class="form__popup-selectMini-outer">
      <label class="form__popup-selectMini-outer-label" for="{{ firstSelectName }}">{{ firstSelectName }}</label>
      <div class="form__popup-selectMini-wrapper">
        <select class="form__popup-selectMini" name="{{ firstSelectName }}">
          {% for key in priceType %}
          <option value="{{ key.key }}" {{ key.selected == true ? 'selected' : '' }}> {{ key.value }}</option>
          {% endfor %}
        </select>
        <img class="form__popup-chevronSelect" src="/assets/img/icons/icon-chevron-down.svg" alt="">
      </div>
    </div>
    <div class="form__popup-inputNumberMini-outer">
      <label class="form__popup-inputNumberMini-outer-label"
        for="{{ startingPriceName }}">{{ startingPriceName }}</label>
      <div class="form__popup-inputNumberMini-wrapper">
        <input class="form__popup-inputNumberMini inputNumberMini" data-type="number" type="number" min="1"
          name="{{ startingPriceName }}" value="{{ startingPriceValue }}">
        <div class="form__popup-inputNumberMini-controls-wrapper">
          <button data-action="increase" type="button" class="form__popup-inputNumberMini-controls inputNumberMini-controls">
            <img src="/assets/img/icons/icon-button-inputNumber-control.svg" alt="">
          </button>
          <button data-action="decrease" type="button" class="form__popup-inputNumberMini-controls inputNumberMini-controls">
            <img src="/assets/img/icons/icon-button-inputNumber-control.svg" alt="">
          </button>
        </div>
      </div>
    </div>
    <div class="form__popup-inputNumberMini-outer">
      <label class="form__popup-inputNumberMini-outer-label" for="{{ buyoutPriceName }}">{{ buyoutPriceName }}</label>
      <div class="form__popup-inputNumberMini-wrapper">
        <input class="form__popup-inputNumberMini inputNumberMini" data-type="number" type="number" min="1" name="{{ buyoutPriceName }}"
          value="{{ buyoutPriceValue }}">
        <div class="form__popup-inputNumberMini-controls-wrapper">
          <button data-action="increase" type="button" class="form__popup-inputNumberMini-controls inputNumberMini-controls">
            <img src="/assets/img/icons/icon-button-inputNumber-control.svg" alt="">
          </button>
          <button data-action="decrease" type="button" class="form__popup-inputNumberMini-controls inputNumberMini-controls">
            <img src="/assets/img/icons/icon-button-inputNumber-control.svg" alt="">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro selectSimpleDual(name, label, donation, donateValue, inputNumberName) %}
<div class="inline-inputs">
  <label for="{{ name }}" class="form__popup-label">{{ label }}</label>
  <div class="form__popup-input-container">
    <div class="form__popup-select-outer">
      <select class="form__popup-select" name="{{ name }}" required>
        <option value="" disabled selected hidden>Donate to</option>
        {% for key in donation %}
        <option value="{{ key.key }}">{{ key.value }}</option>
        {% endfor %}
      </select>
      <img class="form__popup-chevronSelect" src="/assets/img/icons/icon-chevron-down.svg" alt="">
    </div>
    <div class="form__popup-inputNumberMini-outer --solo-mobile">
      <label class="form__popup-inputNumberMini-outer-label" for="{{ inputNumberName }}">{{ inputNumberName }}</label>
      <div class="form__popup-inputNumberMini-wrapper">
        <input class="form__popup-inputNumberMini inputNumberMini" data-type="percent" type="number" min="0" max="100"
          name="{{ inputNumberName }}" value="{{ donateValue }}">
        <div class="form__popup-inputNumberMini-controls-wrapper">
          <button data-action="increase" type="button" class="form__popup-inputNumberMini-controls inputNumberMini-controls">
            <img src="/assets/img/icons/icon-button-inputNumber-control.svg" alt="">
          </button>
          <button data-action="decrease" type="button" class="form__popup-inputNumberMini-controls inputNumberMini-controls">
            <img src="/assets/img/icons/icon-button-inputNumber-control.svg" alt="">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro photos(label, tooltipTrigger, tooltipDescr) %}
<div class="inline-inputs">
  <label for="" class="form__popup-label-sell">{{ label }}</label>
  <div class="form__popup-upload-photo-container">
    <div class="form__popup-upload-photo-wrapper">
      <div class="fineuploader">
        {% include "../fineuploader/fineuploader.twig" %}
      </div>
      <div class="fineuploader">
        {% include "../fineuploader/fineuploader.twig" %}
      </div>
      <div class="fineuploader">
        {% include "../fineuploader/fineuploader.twig" %}
      </div>
    </div>
    <div class="form__popup-tip__wrapper">
      <p class="form__popup-tip"></p>
      <a class="form__popup-tip-trigger tooltip-trigger" href="#"> {{ tooltipTrigger}} </a>
      {% include "../tooltip/tooltip-form-popup.twig" %}
    </div>
  </div>
</div>
{% endmacro %}

{% macro loginTabs(label, firstTab, secondTab) %}
<div class="inline-inputs">
  <label for="" class="form__popup-label-sell">{{ label }}</label>
  <div class="form__popup-tabs-items">
    <a href="#create-user-tab" class="form__popup-tabs_switcher tab__switcher is-active">{{ firstTab }}</a>
    <a href="#login-tab" class="form__popup-tabs_switcher tab__switcher">{{ secondTab }}</a>
  </div>
</div>
{% endmacro %}

{% macro inputCreate(name, type, label, placeholder) %}
<div class="inline-inputs">
  <label for="{{ name }}" class="form__popup-label">{{ label }}</label>
  <div class="form__popup-input-create-wrapper">
    <input type="{{ type }}" name="{{ name }}" class="form__popup-input-create" id="{{ name }}"
      onfocus="this.placeholder = ''" onblur="this.placeholder = '{{ placeholder }}'" placeholder="{{ placeholder }}"
      required>
  </div>
</div>
{% endmacro %}

{% macro inputCreateDoubleSelectMini(label, firstSelectName, firstSelectPlaceholder, firstSelectOpts, secondSelectName, secondSelectPlaceholder, secondSelectOpts, inputType, inputName, inputPlaceholder ) %}
<div class="inline-inputs">
  <label for="{{ inputName }}" class="form__popup-label">{{ label }}</label>
  <div class="form__popup-input-container">
    <div class="form__popup-select-outer_location">
      <select class="form__popup-select" name="{{ firstSelectName }}" required>
        <option value="" disabled selected hidden>{{ firstSelectPlaceholder }}</option>
        {% for key in firstSelectOpts %}
        <option value="{{ key.key }}">{{ key.value }}</option>
        {% endfor %}
      </select>
      <img class="form__popup-chevronSelect" src="/assets/img/icons/icon-chevron-down.svg" alt="">
    </div>
    <div class="form__popup-select-outer_location">
      <select class="form__popup-select" name="{{ secondSelectName }}" required>
        <option value="" disabled selected hidden>{{ secondSelectPlaceholder }}</option>
        {% for key in secondSelectOpts %}
        <option value="{{ key.key }}">{{ key.value }}</option>
        {% endfor %}
      </select>
      <img class="form__popup-chevronSelect" src="/assets/img/icons/icon-chevron-down.svg" alt="">
    </div>
    <input type="{{ inputType }}" name="{{ inputName }}" class="form__popup-input-create --solo-mobile" id="{{ inputName }}"
      onfocus="this.placeholder = ''" onblur="this.placeholder = '{{ inputPlaceholder }}'"
      placeholder="{{ inputPlaceholder }}" required>
  </div>
</div>
{% endmacro %}