{% if news_landing %}
<section class="news__landing">
  <div class="container relative">
    <div class="row">
      {% for news in news_landing %}
    <a href="{{ news.newsLink }}" class="news__landing-card--wrapper">
        <article class="news__landing-card">
          <img src="{{ news.newsPreview }}" class="news__landing-img" alt="">
          <div class="news__landing-card-body">
            <h4 class="news__title">{{ news.newsTitle }}</h4>
            {# Обрезание текста после третьей линии НЕ БУДЕТ работать в Firefox, обрезайте текст на сервере (news-landing.scss:47) #}
            <p class="news__excerpt">{{ news.newsExcerpt}}</p>
            <p class="news__date">{{ news.newsDate }}</p>
          </div>
        </article>
      </a>
      {% endfor %}
    </div>
    <a href="#" class="btn btn__news-more">Еще <img src="/assets/img/icons/icon-chevron-right-white.svg" alt=""
        class="img-responsive"></a>
  </div>
</section>
{% endif %}