{% if dropdown %}
<div class="dropdown-wrapper {{dropdown.type}}">
  <button class="dropdown__trigger">
      {% for user in userInfo %}
      <img src="{{ user.avatar }}" alt="" class="{{dropdown.imgClass}}">
      {% endfor %}
  </button>
  <div class="dropdown__menu">
    {% for item in dropdown.items %}
      <a href="{{item.link}}" class="dropdown__menu-item">{{item.caption}}</a> 
    {% endfor %}
  </div>
</div>
{% endif %}