{% if menubar %}
  {% for menu in menubar if menu.type == 'account' %}
    {% if editMode != "color" and editMode != 'photo' %}
      <div class="menu-bar__account">
        <div class="menu-bar__scroll-cont">
          {% for item in menu.items %}
            <a href="{{ item.link }}" class="menu-bar__item tab__switcher {% if item.isActive %}is-active{% endif %}">
              {{ item.descr }}
              {% if item.isAds %}
                <span>({{ item.adsCount }})</span>
              {% endif %}
            </a>
          {% endfor %}
        </div>
      </div>
    {% elseif editMode == 'color' %}
      <div class="menu-bar__color">
        {% include "../form/form-button-color.twig" %}
      </div>
    {% elseif editMode == 'photo' %}
      <div class="menu-bar__color">
        <form action="#" class="form-button-color" method="POST" style="justify-content: flex-end;">
          {% include "../form/form-edit-account-controls.twig" %}
        </form>
      </div>
    {% endif %}
  {% endfor %}
  {% for menu in menubar if menu.type == 'regular' %}
    <div class="menu-bar__regular">
      <div class="menu-bar__regular-container">
        <div class="menu-bar__regular-wrapper">
          {% for item in menu.items %}
            <a href="{{ item.link }}" class="menu-bar__item {% if item.isActive %}is-active{% endif %}">
              {{ item.descr }}
            </a>
          {% endfor %}
        </div>
        {% include "../dropdown/dropdown.twig" %}
      </div>
    </div>
  {% endfor %}
{% endif %}