<section class="screen__cart">
	<div class="cart__container">
		<div class="cart__wrapper">
			{% if breadcrumbs %}
				{% include "../breadcrumbs/breadcrumbs.twig" %}
			{% endif %}
			{% if screenHeader %}
			<div class="cart-header__outer">
				<div class="cart-header__wrapper">
					<h1 class="header__h1 regular__h1">
						{{ screenHeader }}
						{{ order.id }}
					</h1>
					<span class="order__badge --sent">Заказ в пути</span>
				</div>
			</div>
			{% endif %}
			<main class="cart-items__container">
				<div class="order__details__wrapper">
					<div class="order__details-header">
						<p class="order__details-header-descr">Подробности заказа</p>
					</div>
					<div class="order__details-body">
						<div class="order__details-timestamp-outer">
							<div class="order__details-timestamp-wrapper">
								<span class="order__details-timestamp">Дата размещения:</span>
								<span class="">{{ order.time.placed }}</span>
							</div>
							<div class="order__details-timestamp-wrapper">
								<span class="order__details-timestamp">Дата отправки: </span>
								<span class="">{{ order.time.sended }}</span>
							</div>
							<div class="order__details-timestamp-wrapper">
								<span class="order__details-timestamp">Ориентировочная дата доставки:</span>
								<span class="order__details-timestamp--black">{{ order.time.recieveAppr }}</span>
							</div>
						</div>
					</div>
					<div class="order__details-reciever-info-body">
						<div class="order__details-reciever-info-outer">
							<p class="form-cart-delivery__contacts-header">
        				Контакты получателя:
      				</p>
							<p class="order__details-reciever-info">
								{{ order.reciever.name }}
							</p>
							<p class="order__details-reciever-info">
								{{ order.reciever.place.country }}, {{ order.reciever.place.region }}
							</p>
							<p class="order__details-reciever-info">
								{{ order.reciever.place.cityType }} {{ order.reciever.place.city }}, индекс {{ order.reciever.place.index }} 
							</p>
							<p class="order__details-reciever-info">
								{{ order.reciever.place.street }}
							</p>
							</p>
						</div>
						<div class="order__details-reciever-info-outer">
							<p class="form-cart-delivery__contacts-header">
        				Информация об оплате:
      				</p>
							<p class="order__details-reciever-info">
								Карта номер {{ order.reciever.payment.card }}
							</p>
							<p class="order__details-reciever-info">
								{{ order.reciever.payment.cardholder }}
							</p>
							<p class="order__details-reciever-info">
								{{ order.reciever.payment.validity }}, {{ order.reciever.payment.CVV }} 
							</p>
							</p>
						</div>
					</div>
				</div>
			</main>
			<aside class="cart-items__aside">
				<div class="form-cart-checkout__header">
					<p class="form-cart-checkout__header-descr">Сумма заказа:</p>
					<span class="form-cart-checkout__header-value">
						{{ checkoutInfo.orderValue }}
						<span>{{ checkoutInfo.priceTag }}</span>
      		</span>
    		</div>
				<div class="form-cart-checkout__support">
					<div class="form-cart-checkout__support-wrapper">
						<img alt="" src="/assets/img/icons/icon-heart-color.svg">
						<p class="form-cart-checkout__support-value">
							{{ checkoutInfo.supportValue }}
							<span>{{ checkoutInfo.priceTag }}</span>
						</p>
					</div>
					<p class="form-cart-checkout__support-descr">пойдут на поддержку
						{% for fund in checkoutInfo.funds %}
							<span>{{ fund.name }}</span>
							{% if loop.last == false %},{% else %}.
							{% endif %}
						{% endfor %}
					</p>
				</div>
				<div class="form-cart-checkout__delivery">
					<div class="form-cart-checkout__delivery-info">
						<p class="form-cart-checkout__delivery-descr">Доставка:</p>
						<span class="form-cart-checkout__delivery-value">
							{{ checkoutInfo.deliveryValue }}
							<span>{{ checkoutInfo.priceTag }}</span>
						</span>
					</div>
				</div>
				<div class="form-cart-checkout__total">
					<div class="form-cart-checkout__total-wrapper">
						<p class="form-cart-checkout__total-descr">Итого:</p>
						<span class="form-cart-checkout__total-value">
							{{  checkoutInfo.totalValue }}
							<span>{{ checkoutInfo.priceTag }}</span>
						</span>
					</div>
					<input class="btn__form-checkout-submit" role="button" value="Отследить заказ">
				</div>
			</aside>
		</div>
	</div>
</section>
